<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="format-detection" content="telephone=no" />
    <title>教育部学历证书电子注册备案表</title>
    <link rel="stylesheet" type="text/css" href='http://t1.chei.com.cn/common/wap/materialize/css/materialize.min.css'/>
    <link rel="stylesheet" href='http://t1.chei.com.cn/chsi/css/wap_md.min.css' />
</head>

<body>
<div class='page-wrapper'>
    <div class='pw-content'>
        <div class="container">
            <div class="row valign-wrapper padTop" id='xl-top'>


                <script type="text/javascript" src='http://t1.chei.com.cn/common/jquery/2.1.1/jquery.min.js'></script>
                <script type="text/javascript" src='http://t1.chei.com.cn/common/wap/materialize/js/materialize.min.js?20160905'></script>
                <div class="col s9  ">
                    <script>
                        $(document).ready(function(){
                            sel_lang();
                        });
                        function sel_lang(){
                            var srcid = "xlcx";
                            var srcidParam = srcid.length ==0 ? "" : "&srcid=" +srcid ;
                            $("#change_label").on("click", function () {
                                if($("#change_lang").is(":checked")){
                                    //英文
                                    window.location.href="http://www.chsi.com.cn/xlcx/bg.do?vcode=927730493272&ln=en" + srcidParam;
                                }else{
                                    //中文
                                    window.location.href="http://www.chsi.com.cn/xlcx/bg.do?vcode=927730493272&ln=cn" + srcidParam;
                                }
                            });
                            if($("#change_lang").attr("checked")=="checked"){
                                $('.lever-cilcle').css( "left","24px");
                            }else{
                                $('.lever-cilcle').css( "left","-5px");
                            }
                        }
                    </script>

                    <div class="switch noenEn">报告语种：
                        <label><a href="#">中文</a>
                            <input disabled type="checkbox">
                            <a class="modal-trigger" href="#noenreport"><span class="new-lever"><span class="lever-cilcle"></span></span>英文</a>
                        </label>
                    </div>
                    <div id="noenreport" class="modal" style="width:90%">
                        <div class="modal-content" style="padding-bottom:0">
                            该备案表尚无对应的英文版，<span onClick="window.location.href='www.chsi.com.cn/xlcx/rhsq.jsp#rhsqxl_en'" class='nr-detail'>如何申请</span>
                        </div>
                        <div class="modal-footer">
                            <span class=" modal-action modal-close btn-flat">关闭</span>
                        </div>
                    </div>

                    <script type="text/javascript">
                        /* $(function() {
                             $("#openerHref").click(function(){
                                 $("#noenreport").show();
                                 $('.pw-chooseLan').find('a').removeClass('current').end().end().find('#openerHref').addClass('current');
                                 return false;
                             });
                             $(window.document||window.document.body).click(function(){
                                 var $dialog = $('#noenreport:not(:hidden)');
                                 if($dialog.length!=0){
                                     $dialog.hide().prev('#openerHref').removeClass('current');
                                     $('.pw-chooseLan a:eq(0)').addClass('current');
                                 }
                             });
                         });*/
                        $(function(){
                            $('.modal-trigger').leanModal({
                                dismissible: true, // 点击模态框外部则关闭模态框
                                opacity: 0, // 背景透明度
                                in_duration: 300, // 切入时间
                                out_duration: 200, // 切出时间
                            });
                        });
                    </script>

                </div>
                <script>
                    $(function(){
                        var wechatInfo = navigator.userAgent.match(/MicroMessenger\/([\d\.]+)/i) ;
                        if( wechatInfo ) {
                            $('.switch').hide();
                        }
                    })
                </script>



                <!--<div class='pw-info-pc'><a href="/xlcx/bg.do?vcode=927730493272&amp;ln=cn&amp;lang=cn&goto=pc">电脑版</a></div> -->
                <div class="col s3 ">
                    <img src="http://www.chsi.com.cn/images/wap/search_pdf.png"  alt="下载PDF" title="下载PDF" onClick="window.location.href='http://www.chdsi.com.cn/xlgb/${memberPo.id}.jpg'" class='responsive-img waves-effect waves-teal right z-depth-1 down_psf' />
                </div>


            </div>
            <h5 class="center-align padBot">教育部学历证书电子注册备案表</h5>
            <div class="row">
                <div class="col s12 center-align">
                    <img class='waves-effect waves-teal z-depth-1 h_img_size' id="xueliPhoto" src='http://www.chdsi.com.cn/zp/${memberPo.idCardNo}.jpg' data-caption='个人头像' />
                </div>
            </div>
        </div>
        <div class="collection card">
            <div class="row collection-item"><div class="col s4 bolder">姓名：</div><div class="col s8">${memberPo.name!''}</div></div>
            <div class="row collection-item"><div class="col s4 bolder">性别：</div><div class="col s8">${memberPo.sex!''}</div></div>
            <div class="row collection-item"><div class="col s4 bolder">出生日期：</div><div class="col s8">${memberPo.birthDay!''}</div></div>
        </div>
        <div class="collection card">

            <#if memberPo.studyType ?? && memberPo.studyType != '自考'>
                <div class="row collection-item"><div class="col s4 bolder">入学时间：</div><div class="col s8">${memberPo.enterDate!''}</div></div>

                <#else>
                    <div class="row collection-item">
                        <div class="col s4 bolder">身份证号：</div>
                        <div class="col s8">${memberPo.idCardNo!''}</div>
                    </div>
            </#if>

            <div class="row collection-item"><div class="col s4 bolder">毕业时间：</div><div class="col s8">${memberPo.graduatedDate!''}</div></div>
            <div class="row collection-item"><div class="col s4 bolder">毕业院校：</div><div class="col s8">${memberPo.graduateSchool!''}</div></div>
            <#if memberPo.studyType ?? && memberPo.studyType != '自考'>
                <div class="row collection-item"><div class="col s4 bolder">院校所在地：</div><div class="col s8">${memberPo.collegeLocation!''}</div></div>
            </#if>
            <div class="row collection-item"><div class="col s4 bolder">专业名称：</div><div class="col s8">${memberPo.graduateMajor!''}</div></div>
            <div class="row collection-item"><div class="col s4 bolder">学历类型：</div><div class="col s8">
                <#if memberPo.studyType ?? && memberPo.studyType != '自考'>${memberPo.studyType!''}<#else>${memberPo.studyStyle!''}</#if></div></div>
            <div class="row collection-item"><div class="col s4 bolder">学制：</div><div class="col s8">${memberPo.length!''}</div></div>
            <#if memberPo.studyType ?? && memberPo.studyType != '自考'>
                <div class="row collection-item"><div class="col s4 bolder">学习形式：</div><div class="col s8">${memberPo.studyStyle!''}</div></div>
            </#if>
            <div class="row collection-item"><div class="col s4 bolder">学历层次：</div><div class="col s8">${memberPo.level!''}</div></div>
            <div class="row collection-item"><div class="col s4 bolder">证书编号：</div><div class="col s8">${memberPo.cardNo!''}</div></div>
            <div class="row collection-item"><div class="col s4 bolder">毕(结)业</div><div class="col s8">毕业</div></div>
            <div class="row collection-item"><div class="col s4 bolder">院(校)长姓名：</div><div class="col s8">${memberPo.president!''}</div></div>
        </div>

        <div class="collection card">
            <div class="row collection-item"><div class="col s4 bolder">在线验证码：</div><div class="col s8">${memberPo.checkCode !''}</div></div>
            <div class="row collection-item"><div class="col s4 bolder">更新日期：</div><div class="col s8">${memberPo.updateDate !''}</div></div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col s12">

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>